.sidebar {
        height: 100%;
        width: 260px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgb(172, 196, 204);
        overflow-x: hidden;
        padding-top:20px;
}

.sidebar-button {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.dropdown-hover:hover .dropdown-content {
	display:block
}

.dropdown-content{
	cursor:auto;
	color:#000;
	background-color:#fff;
	display:none;
	position:absolute;
	min-width:260px;
	margin:0;
	padding:0;
	z-index:1}

.main {
	margin-left: 160px;
	padding: 0px 10px;
}