body, html {
        height: 100%;
        width: 100%;
        margin: auto;
        background-repeat: no-repeat;
        /*
        background: linear-gradient(rgb(172, 196, 204),white);*/
        background-color: #d3cdcd;
        font-family: Lato;
}
form {
        width: 30%;
        background-color: #ffffff;
        
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
      
        position: absolute;
        height: 250px;
        
        padding: 50px;
        margin: auto;
        text-align: center;
        /*border-style: solid;*/
        box-shadow: 8px 8px #797777;
}

input {
        width: 200px;
        height: 25px;
        margin-bottom: 20px;

        border-bottom: blue;
}

button {
        margin-left: 1vw;
}
.UserInput {

        margin-bottom: 10px;
}
.PasswordField {
        
}

.Buttons {
        text-align: center;

}

#login {
        margin: relative;
}

h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
}