body, html {
        height: 100%;
        width: 100%;
        margin: auto;
        background-repeat: no-repeat;
        background: linear-gradient(rgb(172, 196, 204),white);
}
form {
        width: 50%;
        height: 200px;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin: auto;
        text-align: center;
}

input {
        width: 200px;
        height: 25px;
}

button {
        margin-left: 1vw;
}
.UserInput {

        margin-bottom: 10px;
}
.Buttons {
        text-align: center;

}

#login {
        margin: relative;
}